.game__swiper {
  width: 100%;

  padding-bottom: 90px;
  margin-top: 20px;
  padding-left: 20px;
  position: relative;
  padding-right: 20px;
  .game {
    min-width: 100%;
    height: 300px;
    background: #0f0f0f37;
    border-radius: 20px;
    backdrop-filter: blur(34px);
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    .game__name {
      color: #fff;
      width: 100%;
      font-size: 16px;
      text-align: center;
    }
    .game__date {
      margin-top: 5px;
      width: 100%;
      text-align: center;
      color: #ffffff7a;
      font-size: 12px;
    }
    .game__preview {
      background: #1a1c1db5;
      width: 100%;
      margin-top: 5px;
      height: 190px;
      border: 0;
      border-radius: 10px;
    }
    .game__btns {
      display: flex;
      width: 100%;
      height: fit-content;
      justify-content: space-between;
    }
  }
}
