.message {
    width: fit-content;
    max-width: 70%;
    height: fit-content;
    border-radius: 20px;
    padding: 15px;
    background: #2D2D2D;
    color: #FFFFFF99;
    position: relative;
    margin-top: 10px;
    word-wrap: break-word;
    /* Перенос текста на новую строку */
    overflow-wrap: break-word;
    /* Альтернатива для word-wrap */
    white-space: normal;
    /* Убедимся, что текст переносится */


    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -10px;
        height: 15px;
        width: 30px;
        background: #2D2D2D;

        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &.user {
        align-self: flex-end;
        background: linear-gradient(280.64deg, #FFFFFF -32.6%, #FEAC39 89.94%);
        color: #000000EB;
        position: relative;

        &::after {
            display: none;
        }

    }
}