.game__swiper {
    width: 100%;

    padding-bottom: 20px;
    margin-top: 20px;
    padding-left: 30px;
    position: relative;
    padding-right: 30px;

    .game {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(to right, #de8a15b8, #fff);
        padding-top: 7px;
        padding-bottom: 7px;
        border: 1px solid #de8a15b8;
        border-radius: 20px;

        &.active {
            color: #000;
            scale: 1.1;
            background: linear-gradient(to right, #ffbc5f, #e9e9e9) padding-box,
                linear-gradient(to bottom, #ffbc5fdd, #99713977) border-box;
        }
    }
}