.demogame {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #030404;
  padding-top: 80px;
  align-items: center;
  overflow: hidden;

  .game__title {
    color: #fff;
  }


  &__blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    z-index: 2;
  }

  &__title {
    color: #fff;
    font-size: 20px;
    font-family: "mont";
    margin: 0;
    z-index: 1;
  }

  &__image {
    width: 200px;
  }

  .blur__image,
  .blur__image__sec {
    width: 360px;
    position: absolute;
    height: 800px;
    left: -150px;
    bottom: 50px;
    z-index: 0;
  }

  .blur__image__sec {
    left: 150px;
    top: 190px;
    rotate: 180deg;
  }

  .game__description {
    color: #c2c2c2;
    font-size: 14px;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
  }

  .videoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .video__subtitle {
      margin-top: 20px;
      color: #ffffff7d;
      font-size: 12px;
      text-align: center;
      width: 70%;
      letter-spacing: 1px;
      font-weight: 400;
      font-family: "mont";
    }

    .demoGame__video {
      margin-top: 20px;
      width: 90%;
      aspect-ratio: 16 / 9;
      position: relative;
      overflow: hidden;

      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .demoGame__controls {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    .answer__button {
      width: 100%;
      height: 50px;
      background: linear-gradient(to right, #ffbc5f, #e9e9e9) padding-box,
        linear-gradient(to bottom, #ffbc5fdd, #99713977) border-box;
      border: 1px solid transparent;
      border-radius: 20px;
      color: #fff;
      font-family: "mont";
      font-size: 16px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}

.game__controlls {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  .answer__button {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #ffbc5f, #e9e9e9) padding-box,
      linear-gradient(to bottom, #ffbc5fdd, #99713977) border-box;
    border: 1px solid transparent;
    border-radius: 20px;
    color: #000;
    font-family: "mont";
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      transform: scale(1.02);
    }
  }

  .answer__input {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background: transparent;
    padding-left: 10px;
    color: #fff;
    font-size: 16px;
    border: 2px solid #ffbc5f;
  }
}

.tipContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
  width: 100%;
  z-index: 999;
}

.hint {
  background: linear-gradient(to top, #1c1d20, #1c1d20) padding-box, linear-gradient(to bottom, rgba(255, 188, 95, 0.87), rgba(153, 113, 57, 0.47)) border-box;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid transparent;
  max-width: 90%;
  text-align: center;
  font-size: 16px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease, transform 1s ease;
  pointer-events: none;
  max-height: 0;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
}

.hintToggle {
  background: linear-gradient(to top, #1c1d20, #1c1d20) padding-box, linear-gradient(to bottom, rgba(255, 188, 95, 0.87), rgba(153, 113, 57, 0.47)) border-box;
  color: #fff;
  border: 1px solid transparent;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  width: 50%;
}

.hintVisible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  max-height: 300px;
}

.hintHidden {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  max-height: 0;
}